<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>  <!-- ?_method=DELETE overides the POST method (using a form instead of clickable link for google crawl porposes - google clicks on everything)-->
   

