<header>
    <nav>
        <a href="/">Peter App</a>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Add Product</a></li>
        </ul>
    </nav>
</header>