<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Invoice App</a>
        <ul>
            <li><a href="/invoices/new">New Order Sheet</a></li>
            <li><a href="/invoices">Invoices</a></li>
            <li><a href="/products/new">Add Product</a></li>
            <li><a href="/customers/new">Add Customer</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/customers">Customers</a></li>
        </ul>
        <div class="hamburger">
            <spab class="bar"></spab>
            <spab class="bar"></spab>
            <spab class="bar"></spab>
        </div>
    </nav>
</header>