<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <script defer type="text/javascript" src="/js/JsBarcode.all.min.js"></script>
    <script defer type="text/javascript" src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Peter App</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        </div>
    </div>
</body>

</html>