:root {
    --form-label-font-size:1.2rem;
    --form-imput-background-color: hsl(var(--color-base-hue), 70%, 90%);
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 50%);
    --form-imput-color-text-light: grey;
}

.form-row {
    display:flex;
    margin-bottom: 2rem;
}
.form-row-end {
    justify-content: flex-end;
}

.form-item {
    width:100%;
    display:flex;
    flex-direction: column; 
    margin-left:2rem;
    flex-grow:1;
    flex-basis: 0;
}

.form-item:first-child {
    margin-left:0;
}

.form-item > label {
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.form-item input, .form-item select, .form-item textarea, input {
    width:100%;
    box-sizing: border-box;
    /* -webkit-appearance: none; */
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid rgb(156 163 175);
    background-color: white;
    color: var(--form-imput-color-text-light);
    font-size: 0.9em;
    font-weight:normal;
    font-family: 'Lato';
    outline:none;
}

input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none; /* Helps with iOS styling */
    margin: 0; /* Remove any default margins */
  }

input.notes, input.source, input.quantity {
    border-radius:0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: none;
    background-color: #f0f0f0;
}

input:focus {
    background-color: #e0e0e0;  /* Highlight when focused */
  }

input.mpn, input.itemNumber, input.description, input.price, input.subTotal {
    border-radius:0;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: none;
    
}

.form-item input:focus, .form-item select:focus {
    border-color: var(--form-input-border-color-light);
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); */
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
}

.form-item textarea {
    height: 100%;
    resize: none;
}

.form-item select option {
    background-color:black;
}