.invoice-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* align-items:center; */
}

.invoice-item {
  display:flex;
  flex-direction: column; 
  flex-grow:1;
  flex-basis: 0;
  /* padding: 2rem; */
  /* margin-left: 2rem; */
}

.small-print {
  font-size: 8px;
}

.hide {
  display:none;
}

.show {
  display: block;
}

/* Disable browser's default print header and footer */
@media print {
  @page {
    margin: 0;
  }

  /* You can also hide elements if they are unnecessary for printing */
  header, footer {
    display: none;
  }

  /* If there's a specific area you don't want to print, hide it */
  .no-print {
    display: none;
  }

  /* Customize other styles for the print version if needed */
  body {
    font-size: 12pt;  /* Adjust text size for print */
  }
}

.align-left {
  align-items: flex-start;
}

.align-right {
  align-items: flex-end;
}

.border {
  border: 1px solid rgb(156 163 175);
}

.margin-bottom {
  margin-bottom: 2rem;
}

.padding {
  padding: 5px;
}



.fifty {
  width: 50%;
  min-width: 300px;
}



table {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

#source-header {
  width: 10%;
}
#notes-header {
  width: 30%;
}
#mpn-header {
  width: 5%;
}
#description-header {
  width: 30%;
}
#price-header {
  width: 10%;
}
#quantity-header {
  width: 10%;
}
#amount-header {
  width: 10%;
}
#status-header {
  width: 5%;
}
#action-header {
  width: 10%;
}
table, td, th {
  border: 1px solid rgb(156 163 175);
  border-spacing: 0;
  border-collapse: collapse;
  padding: .4rem;
}
table.no-border > tbody > tr > th{
  border: none;
}
td {
  text-align: center;
}
td.description, td.notes {
  min-width: 300px;
}

#source-header:hover, #status-header:hover {
  cursor: pointer;
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-background-dark);
}

input.productId {
  min-width: 210px;
}

input.price {
  min-width: 65px;
}

input.subTotal {
  min-width: 70px;
}

/* signature pad */

.wrapper {
    position: relative;
    width: 400px;
    height: 200px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom:20px;
    background-color:white;
  }
  img {
    position: relative;
    left: 0;
    top: 0;
  }
  
  .signature-pad {
   border: 1px solid rgb(95, 95, 95);
    position: relative;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
    
  }

  #signatureWrapper {
    position:relative;
    margin:10px 0px 10px 0px;
  }

  checkbox.done {
    display: inline-block; 
    background-color: white;
    width: 10px;
    height: 10px;
}


/* tr.table-row {
  background-color:white;
} */



tr.table-row.done {
  background-color: #d4edda;  /* Light green background for 'done' rows */
  text-decoration: line-through;  /* Strike-through for text */
  color: #155724;  /* Dark green text color for completed tasks */
}

table.table-striped thead tr {
  background-color: #4b7de7; /* Slightly darker gray for even rows */
}

table.table-striped thead tr {
  color: #ffffff; /* Slightly darker gray for even rows */
}

table.table-striped tbody tr:nth-child(odd) {
  background-color: #e0e0e0; /* Slightly darker gray for even rows */
}

div#productList {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* This makes the scroll smooth on mobile devices */
  width: 100%; /* You can set a fixed width if needed */
}


table.no-border thead tr th{
border:none;
}


