
<label>NPM</label>
<input type="text" name="npm" value="<%= product.npm %>">
<label>Item Number</label>
<input type="text" name="itemNumber" value="<%= product.itemNumber %>">
<label>Description</label>
<input type="text" name="description" value="<%= product.description %>">
<label>Price</label>
<input type="text" name="price" value="<%= product.price %>">