<h2>All Products</h2>
<form action="/products" method="GET">
    <label>Product</label>
    <input type="text" name="npm" value= "<%= searchOptions.npm %>" >
    <button type="submit">Search</button>
</form>
<br>
<% products.forEach(product => { %>
 <div><span><%= product.npm %></span><br><span><%= product.description %></span></div><br>
<% }) %>